<div>
<div class="row">
  <div class="img-wrapper col-xs-12 col-sm-10 col-md-10 col-lg-8 col-centered">
  <h1>{{monster.name}}</h1>
</div>
</div>
<div class="img-wrapper col-xs-12 col-sm-10 col-md-10 col-lg-8 col-centered">
  <img class="img-responsive {{monster.home}}">
  <div class="img-overlay">
    <img class="{{monster.type}}_{{monster.mood}}_{{monster.status}} monster-size-{{monster.size}}">
  </div>
  <div class="img-overlay-hunger">
    <div class="lead">Hunger<meter low="3" high="4" max="5" value="{{monster.hunger}}" optimum="5"></meter></div>
  </div>
  <div class="img-overlay-poop col-centered">
    <img id="poop-image" class="img-responsive poop poop-{{monster.cleanliness}}">
  </div>
</div>
<div class="row">
  <img id="feed-monster" class="food">
</div>
<button id="delete-monster" data-id="{{monster.id}}" class="btn btn-secondary">Say Goodbye</button>
</div>
size is {{monster.size}}
