{{#each monsters as |monster|}}
 <div class="col-sm-2 text-center col-centered">
   <img class="monster-image-small" src="assets/images/{{monster.type}}_{{monster.mood}}_{{monster.status}}.png"</div>
  <ul class="list-unstyled" data-id="{{monster.id}}">
    <li>Name: {{monster.name}} </li>
    <li><button data-id="{{monster.id}}" type="button" class="btn btn-primary btn-sm view_monster">View</button></li>
  </ul>
</div>
{{else}}
<div class="col-md-4 col-centered text-center">
<h2>Welcome to PixlMonster!</h2>
<p class="lead">You currently have no monsters. <br> Why don't you create one?</p>
<p class="lead">But beware - monsters are hungry and will require your constant attention!</p>
</div>
{{/each}}
