{{#each monsters as |monster|}}


 <div class="col-md-4 text-center">
   <div class="col-md-4 text-center"><img class="monster-image" src="https://i.imgur.com/klK8v0A.png"</div>
  <ul class="list-unstyled" data-id="{{monster.id}}">
    <li>Name: {{monster.name}} </li>
    <li>Hunger: {{monster.hunger}}</li>
    <li>Mood: {{monster.mood}}</li>
    <li>Cleanliness: {{monster.cleanliness}}</li>
    <li><button type="button" class="btn btn-primary btn-lg view_monster">View</button></li>
  </ul>

</div>

{{/each}}
