{{#each monsters as |monster|}}


 <div class="col-sm-2 text-center col-centered">
<img class="monster-image-small {{monster.type}}" src=""</div>
  <ul class="list-unstyled" data-id="{{monster.id}}">
    <li>Name: {{monster.name}} </li>
    <li>Hunger: {{monster.hunger}}</li>
    <li>Mood: {{monster.mood}}</li>
    <li>Cleanliness: {{monster.cleanliness}}</li>
    <li><button data-id="{{monster.id}}" type="button" class="btn btn-primary btn-lg view_monster">View</button></li>
  </ul>
</div>
{{else}}
<div class="col-md-4 text-center">
You have no monsters. Create one now!
</div>
{{/each}}
