<!-- <div class="text-center col-centered col-md-8">
  <img class="img-responsive monster-holder" src="assets/images/{{monster.home}}.png">
 <ul class="list-unstyled" data-id="{{monster.id}}">
   <div class="col-md-4"><img class="monster-image-large {{monster.type}}-{{monster.mood}}-{{monster.status}}" src=""</div>
   <li>Name: {{monster.name}} <button class="rename_monster btn btn-primary btn-xs">Rename</button></li>
   <li>type: {{monster.type}} </li>
   <li>Hunger: {{monster.hunger}} <button class="feed_monster btn btn-primary btn-xs">Feed</button></li>
   <li>Mood: {{monster.mood}}</li>
   <li>Cleanliness: {{monster.cleanliness}} <button class="clean_monster btn btn-primary btn-xs">Clean</button></li>
   <li>Home: {{monster.home}}</button></li>

   <li><button class="delete_monster btn btn-primary btn-xs">Set free!</button></li>

 </ul>

</div> -->
<div class="row">
  <div class="img-wrapper col-xs-12 col-sm-10 col-md-10 col-lg-8 col-centered">
  <h1>{{monster.name}}</h1>
</div>
</div>
<div class="img-wrapper col-xs-12 col-sm-10 col-md-10 col-lg-8 col-centered">
  <img class="img-responsive" src="assets/images/{{monster.home}}.png">
  <div class="img-overlay">
    <img class="monster-detail-image" src="assets/images/{{monster.type}}_{{monster.mood}}_{{monster.status}}.png">
  </div>
  <div class="img-overlay-hunger">
    <div class="lead">Hunger <meter low="3" high="4" max="5" value="{{monster.hunger}}" optimum="5"></meter></div>
  </div>
